<form>
  <section class="fep-config-row">
    <label for="folderId">Phase Folder</label>
    <select id="fep-folder-select"name="folderId">
      <option value="">-- All Scenes --</option>
      {{#each folders}}
        <option value="{{this.id}}" {{#if (eq ../selectedFolderId this.id)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </section>

  <section class="fep-config-row">
    <div class="list-header">
      <h5>Phase Scenes (in order)</h5>
      {{!-- <div class="list-actions">
        <select name="addScene">
          {{#each allScenesInFolder}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <button type="button" data-action="add"><i class="fas fa-plus"></i> Add</button> --}}

      <ol class="phase-list">
        {{#each phaseScenes}}
          <li class="phase-item" data-scene-id="{{this.id}}">
            <span class="name">{{this.name}}</span>
            <div class="item-actions">
              <button type="button" data-action="up" title="Move Up"><i class="fas fa-arrow-up"></i></button>
              <button type="button" data-action="down" title="Move Down"><i class="fas fa-arrow-down"></i></button>
              <button type="button" data-action="remove" title="Remove"><i class="fas fa-trash"></i></button>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </section>

  <footer class="fep-config-footer">
    <button type="button" data-action="save" class="save"><i class="fas fa-save"></i> Save</button>
  </footer>
</form>
